body {
      background-color: black;
      margin: 0;
      font-family: 'Courier New', monospace; /* Replace with pixel font if needed */
    }

h1 {font-family: 'south park letter', sans serif;
  color: orangered ;}
@font-face {
  font-family: 'south park letter';
  src: url('south_park.ttf') format('truetype');
}
li {color: white;
 font-family: Comic Sans MS;}
 h2 {color: white;
 font-family: Comic Sans MS; }
 ul {color: white;
 font-family: 'south park letter' }

